.row {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px;
}

p {
    line-height: 30px;
    font-size: 20px;
}

head {
    color: white;
}

h1 {
    font-size: 45px;
    color: white;
}

a {
    font-size: 25px;
    float: right;
    color: white;
    padding-left: 50px;
}

.our-cookies {
    padding: 30px;
    width: fit-content;
}

#logo {
    width: 50px;
}

body {
    background-color: rgb(7,11,24);
    height: fit-content;
    width: 88%;
    margin: 0 auto;
    height: calc(100vh - 200px);
}

#row1 {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#row2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#row3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#intro {
    text-align: center;
}

#chinook {
    width: 50px;
}

ul {
    list-style-type: none;
    line-height: 25px;
}

#me {
    text-align: center;
}

footer {
    color: white;
}