h1 {
    font-family: sans-serif;
    color: white;
}

a {
    color: silver;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    background-color: rgb(7,11,24);
}

#intro {
    text-align: center;
}

footer {

}

#me {
    text-align: center;
}