h1 {
    font-family: sans-serif;
    color: white;
    padding-left: 20px;
}

a {
    color: silver;
    float: right;
    padding-right: 20px;
}

img {
    width: 50px;
    padding-left: 23px;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: yellow;
    background-color: blue;
}

body{
    background-color: rgb(7, 11, 24);

}

main{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

table{
    border: thin solid whitesmoke;
    max-width: 100%;
    background-color: 7,11,24;
    color: white;
}

th{
    position: relative;
    text-align: center;
}

tr{
    border-bottom: thin solid whitesmoke;
    font-weight: bold;
}

td{
    border-bottom: thin solid whitesmoke;
    padding: 12px 15px;
}

footer{
    text-align: center;
    color: white;
}